<?php include('includes/header.inc.html'); ?>

    <section id="ambassadors-1" class="first">
      <div class="row">
        <div class="large-12 columns">
          <h2>We work with participating companies to select<br class="res"> highly motivated employees, passionate about<br class="res"> giving back, to be RaisedBy.Us &quot;ambassadors.&quot;</h2>
          <h3>We provide materials and training to empower these ambassadors to create<br class="res"> communications and engagement activities within their companies.</h3>
        </div>
      </div>
    </section>

    <section id="ambassadors-2">
      <div class="row">
        <div class="large-12 columns">
          <h2>Tools</h2>
        </div>
      </div>
      <div class="row tools">
        <div class="medium-3 small-6 columns">
          <h3>Posters</h3>
          <img src="<?php print $resPrefix ?>img/section/ambassadors/posters.png" class="full-width" alt="Posters">
        </div>
        <div class="medium-3 small-6 columns">
          <h3>Videos</h3>
          <img src="<?php print $resPrefix ?>img/section/ambassadors/videos.jpg" class="full-width" alt="Videos">
        </div>
        <div class="medium-3 small-6 columns">
          <h3>Events</h3>
          <img src="<?php print $resPrefix ?>img/section/ambassadors/events.jpg" class="full-width" alt="Events">
        </div>
        <div class="medium-3 small-6 columns">
          <h3>Emails</h3>
          <img src="<?php print $resPrefix ?>img/section/ambassadors/emails.jpg" class="full-width" alt="Emails">
        </div>
      </div>
    </section>

    <section id="ambassadors-3">
      <div class="row">
        <div class="large-12 columns">
          <h2>We also seek to build relationships between the ambassadors across RBU companies to foster cooperation across the tech community.</h2>
        </div>
      </div>
      <div class="row">
        <div class="medium-12 columns">
          <div class="quote-panel">
            <div class="row">
              <div class="medium-6 medium-offset-1 columns">
                <div class="valign-wrapper">
                  <div class="quote valign">
                    <blockquote>RaisedBy.Us was a great fit for Sailthru—it gave us the tools we needed to reinforce a giving culture, and our employees love the ease and simplicity of the platform.</blockquote>
                    <div class="byline">
                      <strong>Aubrey</strong>, Sailthru
                    </div>
                  </div>
                </div>
              </div>
              <div class="medium-4 columns">
                <div class="pic" style="background-image: url('<?php print $resPrefix ?>img/people/aubrey.jpg');"></div>
              </div>
              <div class="medium-1 columns"></div>
            </div>
          </div>
          <div class="quote-panel">
            <div class="row">
              <div class="medium-4 medium-offset-1 columns">
                <div class="pic" style="background-image: url('<?php print $resPrefix ?>img/people/katie.jpg');"></div>
              </div>
              <div class="medium-6 columns">
                <div class="valign-wrapper">
                  <div class="quote valign">
                    <blockquote>The RaisedBy.Us team encouraged us to think big and inject fun into our initiatives.  Their unending support empowered us to run an energetic enrollment period that got our entire company excited about philanthropy.</blockquote>
                    <div class="byline">
                      <strong>Katie</strong>, Shutterstock
                    </div>
                  </div>
                </div>
              </div>
              <div class="medium-1 columns"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
<?php include('includes/footer.inc.html'); ?>