<?php include('includes/header.inc.html'); ?>

    <section id="education-1" class="first">
      <div class="row">
        <div class="large-12 columns">
          <h2>Teaching Philanthropic Skills For Life</h2>
          <div class="skills-panel">
            <div>We educate donors about</div>
            <ul>
              <li>Why giving is important</li>
              <li>How to do diligence on an organization</li>
              <li>How to find a meaningful cause to give to</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="education-2">
      <div class="row">
        <div class="large-12 columns">
          <h2>How we do it</h2>
          <h3>60-Second Videos</h3>
          <img src="<?php print $resPrefix ?>img/section/education/video-series.jpg" alt="" class="full-width">
          <h3>Office Materials</h3>
        </div>
      </div>
      <div class="row posters">
        <div class="medium-4 columns">
          <img src="<?php print $resPrefix ?>img/section/education/poster-1.png" alt="">
        </div>
        <div class="medium-4 columns">
          <img src="<?php print $resPrefix ?>img/section/education/poster-2.png" alt="">
        </div>
        <div class="medium-4 columns">
          <img src="<?php print $resPrefix ?>img/section/education/poster-3.png" alt="">
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <h3>Lunch &amp; Learns and Events</h3>
          <img src="<?php print $resPrefix ?>img/section/education/lunch-learns.jpg" alt="" class="full-width">
        </div>
      </div>
    </section>
    
<?php include('includes/footer.inc.html'); ?>