<?php include('includes/header.inc.html'); ?>

    <section id="faq-1" class="first">
      <div class="row">
        <div class="large-12 columns">
          <h2>Frequently Asked Questions</h2>

          <h3>General</h3>
          <dl>
            <dt>Are RBU check withdrawals pre- or post-tax?</dt>
            <dd>RBU withdrawals are post tax. Keep the email you receive and itemize them.</dd>

            <dt>Can international employees participate?</dt>
            <dd>At this time, enrollment is open to all US-based employees.</dd>

            <dt>This is awesome, how can I get RBU for my friend’s company?</dt>
            <dd>Contact <a href="mailto:info@raisedby.us">info@raisedby.us</a></dd>

            <dt>How can I get my favorite charity to participate?</dt>
            <dd>At this time we are not able to add any more charities. If you email <a href="mailto:info@raisedby.us">info@raisedby.us</a> with your favorite charity, we can keep it in mind when we’re able to add more organizations in the future.</dd>

            <dt>How much can I donate? How little?</dt>
            <dd>As little as $1/paycheck ($26/yr). As much as&hellip;the sky’s the limit.</dd>

            <dt>Is it a percentage donation or can I do a specific dollar amount?</dt>
            <dd>It’s a specific dollar amount that you choose.</dd>

            <dt>How many charities can I donate to?</dt>
            <dd>500+</dd>
          </dl>

          <h3>Enrollment</h3>
          <dl>
            <dt>Can you walk me through the "steps" to enrolling?</dt>
            <dd>
              <div class="row">
                <div class="large-12 columns">
                  Yes! You will receive an email entitled Welcome to RaisedBy.Us. <strong>The email will contain your username and password.</strong> Click on the donate link and click the donate button. You may have to reconfirm your email address before seeing the screen above. 
                </div>
              </div>
              <div class="row screenshot">
                <div class="large-8 large-offset-2 columns">
                  <img src="<?php print $resPrefix ?>img/section/faq/screenshot.png" alt="Screenshot" class="fill-width">
                </div>
              </div>
              <div class="row">
                <div class="large-12 columns">
                  Once you reach the screen above&hellip;
                </div>
              </div>
              <div class="row screenshot-steps">
                <div class="large-8 large-offset-2 columns">
                  <ol>
                    <li>Click on the Payroll Contribution button</li>
                    <li>Click the Twice a Month button</li>
                    <li>Enter in the amount you’d like to donate per paycheck (it will summarize the total amount below, left)</li>
                    <li>Click the button to authorize your employer to withhold the funds</li>
                    <li>Choose to either have your gift acknowledged or not. If it’s acknowledged, you will be prompted to enter in your address. This means that the end charity you give to will receive your details and may use them to send you materials. If you choose to remain anonymous, the charity you give to will not receive your details.</li>
                    <li>Choose your cause: you can either search, look at the top-level list that we’ve highlighted, or drill down within "federations" to access hundreds more charities. You may choose to look at www.raisedby.us first and check the Causes section to find something you’d like to give to.</li>
                  </ol>
                </div>
              </div>
            </dd>

            <dt>Who will my RBU password/log-in credentials come from, your employer or RBU or other?</dt>
            <dd>You will receive an email from RaisedBy.Us with your password and login.</dd>

            <dt>How do we get to see what our money/donations have done?</dt>
            <dd>Coming Soon!</dd>

            <dt>When (and how) do we receive our donation receipts for our taxes?</dt>
            <dd>You will receive an email receipt after pledging, and it should also be noted on your pay stub.</dd>

            <dt>Will people know how much I donate or who I donate to?</dt>
            <dd>No. That’s confidential.</dd>
          </dl>

          <h3>Miscellaneous</h3>
          <dl>
            <dt>Why do this instead of other self donation?</dt>
            <dd>
              <p>Workplace Giving Campaigns provide donors the opportunity to plan, budget and track their annual donations to charities in one place through a single transaction.</p>
              <div class="row screenshot">
                <div class="large-8 large-offset-2 columns">
                  <ul>
                    <li>Workplace giving programs have raised over $100 billion for charities over the past 35 years</li>
                  </ul>
                </div>
              </div>
              <p>Employee giving campaigns are the lowest cost, highest yielding method for charities to raise funds:</p>
              <div class="row screenshot">
                <div class="large-8 large-offset-2 columns">
                  <ul>
                    <li>On average charities spend up to 25&cent; to raise $1 from individuals outside of workplace campaigns; within campaigns the cost is 10&cent; to 15&cent; per $1</li>
                    <li>The average gift for workplace donors is $25/month vs. $16/month for other donors</li>
                  </ul>
                </div>
              </div>
            </dd>

            <dt>When does each enrollment period happen? Do I have to re-enroll every time?</dt>
            <dd>You enroll once a year.</dd>

            <dt>Can I opt out of donating once the year has started? Can I change how much I’m donating?</dt>
            <dd>You can enroll during each enrollment period, which happens every 6 months.</dd>

            <dt>If I donate to multiple, how do I know how much money goes to each (for taxes)?</dt>
            <dd>When you create the total amount you want to give (i.e. $100) at the top of the giving page, you then scroll down and choose how much you want to give, allocating however much you want to each of your choices.</dd>
          </dl>

        </div>
      </div>
    </section>
    
<?php include('includes/footer.inc.html'); ?>