<?php include('includes/header.inc.html'); ?>

    <section id="homepage-1" class="first notch">
      <div class="row">
        <div class="large-10 large-offset-1 columns">
          <h2>
            A giving program for startups that allows<br class="res">
            employees to give a little bit of their paycheck<br class="res">
            to the cause of their choice.
          </h2>
        </div>
      <div class="row">
        <div class="medium-4 medium-offset-4 columns">
          <a href="<?php print $linkPrefix ?>get-involved/" class="button">Get Involved</a>
        </div>
      </div>
    </section>

    <section id="homepage-2">
      <div class="row">
        <div class="large-12 columns">
          <div class="circle-hdr">Our Impact</div>
        </div>
      </div>
      <div class="row impact-1">
        <div class="medium-4 columns h2">
          <span>$203,258</span><br>pledged
        </div>
        <div class="medium-4 columns h2">
          &hellip;from <span>393</span><br>employees
        </div>
        <div class="medium-4 columns h2">
          &hellip;at <span>6</span><br>startups
        </div>
      </div>
      <div class="row impact-2">
        <div class="medium-12 columns h2">
          &hellip;for over <span>100</span> charities.
        </div>
      </div>
    </section>

    <section id="homepage-3" class="notch">
      <div class="row">
        <div class="large-12 columns">
          <h2>The Startups</h2>
        </div>
        <div class="row logos">
          <div class="medium-4 columns">
            <img src="<?php print $resPrefix ?>img/logos/foursquare.png" alt="foursquare">
          </div>
          <div class="medium-4 columns">
            <img src="<?php print $resPrefix ?>img/logos/mongodb.png" alt="MongoDB">
          </div>
          <div class="medium-4 columns">
            <img src="<?php print $resPrefix ?>img/logos/sailthru.png" alt="Sailthru">
          </div>
        </div>
        <div class="row logos">
          <div class="medium-4 columns">
            <img src="<?php print $resPrefix ?>img/logos/shutterstock.png" alt="Shutterstock">
          </div>
          <div class="medium-4 columns">
            <img src="<?php print $resPrefix ?>img/logos/thrillist.png" alt="Thrillist">
          </div>
          <div class="medium-4 columns">
            <img src="<?php print $resPrefix ?>img/logos/contently.png" alt="Contently">
          </div>
        </div>
      </div>
    </section>

<?php /* ?>
    <section id="homepage-4">
      <div class="row">
        <div class="medium-12 columns">
          <div class="quote-panel">
            <div class="row">
              <div class="medium-6 medium-offset-1 columns">
                <div class="valign-wrapper">
                  <div class="quote valign">
                    <blockquote>We love the impact RaisedBy.Us<br class="res"> has had on our culture.</blockquote>
                    <div class="byline">
                      <strong>Dennis Crowley</strong><br>
                      Co-founder, foursquare
                    </div>
                  </div>
                </div>
              </div>
              <div class="medium-4 columns">
                <div class="pic" style="background-image: url('<?php print $resPrefix ?>img/people/dennis.jpg');"></div>
              </div>
              <div class="medium-1 columns"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
<?php */ ?>

    <section id="homepage-5">
      <div class="row">
        <div class="large-12 columns">
          <div class="circle-hdr">How It Works</div>
        </div>
      </div>
      <div class="row programs">
        <div class="medium-4 columns">
          <img src="<?php print $resPrefix ?>img/section/homepage/giving-program.jpg" alt="Giving Program" class="full-width">
          <div class="col-padding">
            <h3>Giving Program</h3>
            <p>Employees donate directly from their paycheck to the charity of their choice.</p>
            <a href="<?php print $linkPrefix ?>workplace-giving/" class="button show-for-small-only">Learn More</a>
          </div>
        </div>
        <div class="medium-4 columns">
          <img src="<?php print $resPrefix ?>img/section/homepage/education.jpg" alt="Education" class="full-width">
          <div class="col-padding">
            <h3>Education</h3>
            <p>We provide content around how to do diligence on organizations and curate causes.</p>
            <a href="<?php print $linkPrefix ?>education/" class="button show-for-small-only">Learn More</a>
          </div>
        </div>
        <div class="medium-4 columns">
          <img src="<?php print $resPrefix ?>img/section/homepage/ambassadors.jpg" alt="Ambassadors" class="full-width">
          <div class="col-padding">
            <h3>Ambassadors</h3>
            <p>We train teams within startups to communicate and roll out RaisedBy.Us in a way that's relevant for their company.</p>
            <a href="<?php print $linkPrefix ?>ambassadors/" class="button show-for-small-only">Learn More</a>
          </div>
        </div>
      </div>
      <div class="row program-buttons show-for-medium-up">
        <div class="medium-4 columns">
          <div class="col-padding">
            <a href="<?php print $linkPrefix ?>workplace-giving/" class="button">Learn More</a>
          </div>
        </div>
        <div class="medium-4 columns">
          <div class="col-padding">
            <a href="<?php print $linkPrefix ?>education/" class="button">Learn More</a>
          </div>
        </div>
        <div class="medium-4 columns">
          <div class="col-padding">
            <a href="<?php print $linkPrefix ?>ambassadors/" class="button">Learn More</a>
          </div>
        </div>
      </div>
    </section>

    <section id="homepage-6">
      <div class="row">
        <div class="medium-12 columns">
          <div class="flex-video widescreen youtube">
            <iframe src="//www.youtube.com/embed/tpOBKpvnxV0?rel=0&showinfo=0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>

    <section id="homepage-7">
      <div class="row">
        <div class="large-12 columns">
          <div class="circle-hdr">Learn More</div>
          <h3>Over 500 causes, including:</h3>
        </div>
      </div>
      <div class="row charities">
        <div class="medium-4 columns">
          <img src="<?php print $resPrefix ?>img/logos/charities/redcross.png" alt="American Red Cross">
        </div>
        <div class="medium-4 columns">
          <img src="<?php print $resPrefix ?>img/logos/charities/unicef.png" alt="UNICEF">
        </div>
        <div class="medium-4 columns">
          <img src="<?php print $resPrefix ?>img/logos/charities/cityofhope.png" alt="City of Hope">
        </div>
      </div>
      <div class="row charities">
        <div class="medium-4 columns">
          <img src="<?php print $resPrefix ?>img/logos/charities/earthshare.png" alt="EarthShare">
        </div>
        <div class="medium-4 columns">
          <img src="<?php print $resPrefix ?>img/logos/charities/donorschoose.png" alt="DonorsChoose.org">
        </div>
        <div class="medium-4 columns">
          <img src="<?php print $resPrefix ?>img/logos/charities/charitywater.png" alt="charity: water">
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns learn-button">
          <a href="<?php print $linkPrefix ?>causes/" class="button">See All</a>
        </div>
      </div>
      <div class="row about">
        <div class="large-6 columns">
          <h3>About RaisedBy.Us</h3>
          <p>TechiesGiveBack mobilizes the NY Tech community to help others. Since we launched in December 2009, we've raised over $100,000 for causes across North America. We are currently developing new, scalable ideas for the tech community to give back. We focus on education, tech, and local NY-based charities.</p>
        </div>
        <div class="large-6 columns">
          <h3>Why Workplace Giving</h3>
          <p>TechiesGiveBack is committed to making the biggest possible impact on the largest number of causes. We also want to ensure that we create programs which allow folks in the tech community to give whatever they can afford.</p>
          <p>After doing our research, we found the answer in workplace giving: it's scalable, cost efficient, and allows techies to give as much or as little as they like. Workplace giving programs are commonplace among established tech organizations. We're just bringing those same benefits to our own tech community.</p>
        </div>
      </div>
    </section>
    
<?php include('includes/footer.inc.html'); ?>