<?php include('includes/header.inc.html'); ?>

    <section id="workplace-giving-1" class="first">
      <div class="row">
        <div class="large-12 columns">
          <h2>What is Workplace Giving?</h2>
        </div>
      </div>
      <div class="row parts">
        <div class="medium-4 columns">
          <div class="icon">
            <i class="fa fa-heart large"></i>
          </div>
          <h3>Convenient &amp; Effective</h3>
        </div>
        <div class="medium-4 columns">
          <div class="icon">
            <div class="companies">
              <img src="<?php print $resPrefix ?>img/logos/companies/google.png" alt="Google">
              <img src="<?php print $resPrefix ?>img/logos/companies/amazon.png" alt="Amazon">
            </div>
            <div class="h1">$4.8 B</div>
          </div>
          <h3>It's BIG</h3>
        </div>
        <div class="medium-4 columns">
          <div class="icon">
            <i class="fa fa-globe large"></i>
          </div>
          <h3>Now It's for Everyone</h3>
        </div>
      </div>
    </section>

    <section id="workplace-giving-2" class="notch">
      <h2>How Does Your Company Benefit?</h2>
      <div class="row parts">
        <div class="medium-4 columns">
          <div class="icon">
            <i class="fa fa-flag large"></i>
          </div>
          <div class="col-padding">
            <h3>Culture</h3>
            <p>Talent is scarce and valuable. Engage existing employees and show future hires that you care in a meaningful way.</p>
          </div>
        </div>
        <div class="medium-4 columns">
          <div class="icon">
            <i class="fa fa-calendar-o large"></i>
          </div>
          <div class="col-padding">
            <h3>Events</h3>
            <p>Great speakers? Fun times? Your employees will get invited to go to awesome events we’ll arrange just for them.</p>
          </div>
        </div>
        <div class="medium-4 columns">
          <div class="icon">
            <i class="fa fa-briefcase large"></i>
          </div>
          <div class="col-padding">
            <h3>Exposure</h3>
            <p>We're good at getting press for our partners. Consider it a cost-efficient way to bask in the sunlight of great coverage.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="workplace-giving-3">
      <div class="row">
        <div class="large-12 columns">
          <div class="circle-hdr">How it Works</div>
        </div>
      </div>
      <div class="row">
        <div class="medium-3 columns">
          <div class="step">1</div>
          <h3>Enrollment</h3>
          <p><a href="<?php print $linkPrefix ?>get-involved/">Get in touch</a> and we will create a program that works best with your existing payroll process. We ask for basic employee information and charge a small annual fee that covers our costs. Once set-up, 100% of your employees' donations will be going to charities of their choice.</p>
        </div>
        <div class="medium-3 columns">
          <div class="step">2</div>
          <h3>Employees<br class="res"> Choose</h3>
          <p>Employees log-in to the donation portal where they can select causes and choose pledge amounts.</p>
        </div>
        <div class="medium-3 columns">
          <div class="step">3</div>
          <h3>Contributions<br class="res"> Deducted</h3>
          <p>Once employees make their pledges, payroll managers send the amounts to our charity donation distribution partner each pay-cycle.</p>
        </div>
        <div class="medium-3 columns">
          <div class="step">4</div>
          <h3>Charities Benefit</h3>
          <p>Donations are disbursed to all the chosen charities.</p>
        </div>
      </div>
    </section>
    
<?php include('includes/footer.inc.html'); ?>